{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<form method = 'POST' action = "/">
    Name : <input type = 'text' name = 'name' /><br>
    Email : <input type = 'email' name = 'email' /><br>
    <input type = 'submit' value = 'submit' />
{% endblock %}

{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Hello, Bootstrap</h1>
{% endblock %}